h1 {
    position: relative;
    bottom: 10px;
    border-bottom: 2px solid black;
}

#home {
    display: flex;
    justify-content: center;

    position: relative;
    right: 24px;
}

#header-icon {
    display: flex;
    justify-content: center;
    position: relative;
    right: 35px;
    bottom: 8px;
    object-fit: contain;
}

#search-form {
    display: flex;
    justify-content: center;
}

#search-bar {
    font-family: 'Saira', sans-serif;

    position: relative;
    bottom: 1vh;

    border: 1px solid transparent;
    border-radius: 4px;

    width: 18vw;
    height: 4vh;

    box-shadow: 0px 0px 2px 1px rgb(205, 207, 205);

    margin-right: 0.5vw;
    margin-left: 2.5vw;

    text-align: center;
}

#make-search {
    background-image: url('../../search_FILL0_wght200_GRAD0_opsz24.png');
    background-color: rgb(212, 226, 249);
    background-position: center;

    width: 2vw;
    height: 4vh;

    border: none;
    border-radius: 6px;

    box-shadow: 0px 0px 2px 1px rgb(205, 207, 205);

    position: relative;
    top: 0.2vh;
}

#err-msg {
    position: relative;
    bottom: 20px;
    width: 60%;
}