#results-area {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    position: relative;
    top: 0px;

    border: 1px solid black;
    border-radius: 8px;
    background-color: white;

    overflow-y: auto;

    margin: auto;
    margin-bottom: 10px;
    min-width: 40%;
    max-width: 40%;

    max-height: 75vh;
}

#display-word {
    position: relative;
    top: 5px;
}

::-webkit-scrollbar {
    width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(125, 125, 125);
}

@media only screen and (min-width: 500px) {
    #results-area {
        min-width: 80%;
        max-width: 80%;
    }
}

@media only screen and (min-width: 550px) {
    #results-area {
        min-width: 70%;
        max-width: 70%;
    }
}

@media only screen and (min-width: 800px) {
    #results-area {
        min-width: 60%;
        max-width: 60%;
    }
}

@media only screen and (min-width: 1000px) {
    #results-area {
        min-width: 50%;
        max-width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    #results-area {
        min-width: 40%;
        max-width: 40%;
    }
}