#results-area {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    position: relative;
    top: 0px;

    border: 1px solid black;
    border-radius: 8px;
    background-color: white;

    overflow-y: auto;

    margin: auto;
    margin-bottom: 10px;
    min-width: 40%;
    max-width: 40%;

    max-height: 75vh;
}

#display-word {
    margin-top: 10px;
}

@media only screen and (max-width: 700px) {
    #results-area {
        min-width: 80%;
        max-width: 80%;
    }
}